driver: postgresql

connection:
    host: example.org
    port: 5432
    user: postgres
    password: s3cre7
    database: products

sql: >
    select product_id
    from product
        inner join product_category
            on (product.category_id = product_category.id)
        inner join product_category_idx
            on (product_category.id = product_category_idx.category_id)
    where product_category_idx.category_id = :category_id
        or product_category_idx.ancestor_category_id = :category_id

params:
    category_id: 5
